docs/presentations/v0/slides-scimba-feelpp.bbl
docs/presentations/v0/slides-scimba-feelpp.nav
docs/presentations/v0/slides-scimba-feelpp.pdf
docs/presentations/v0/slides-scimba-feelpp.snm
docs/presentations/v0/slides-scimba-feelpp.synctex.gz
